<section class="property-binding">
  <!-- <article>
    <h3>Interpolation / Interpolação</h3>
    <p>String renderizada com interpolação: {{ url }}</p>
    <p>Resultado de 1 + 1 = {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é = {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}">
    <img [src]="urlImage">
    <img bind-src="urlImage">
  </article> -->

  <article>
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select>
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
    </div>
  </article>

</section>
